<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Photo of the DAY from SPACE</title>
        <meta charset="utf-8"/>
        <link href="{{ url_for('static', filename='pageStyle.css')}}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <img class="spaceSlide" src="{{ url_for('static', filename='images/nebula.jpg')}}"/>
                <img class="spaceSlide" src="{{ url_for('static', filename='images/solarsystem.jpg')}}"/>
                <img class="spaceSlide" src="{{ url_for('static', filename='images/stars.jpg')}}"/>
                <img class="spaceSlide" src="{{ url_for('static', filename='images/moon.jpg')}}"/>
                <script src="{{ url_for('static', filename = 'slideshow.js')}}"></script>
                <div id="header_text">
                    <h1>EXAMPLE PHOTOS</h1>
                </div>
            </div>
            <div id="page">
                <form action="/getPhoto" method="GET">
                    <input type="submit" name="spaceBtn" value="Get cool photo"/>
                </form>
                <div id="page_text">
                    and other stuff...
                </div>
            </div>
            <div id="footer">
                <div id="footer_text">
                    Made by Gabriel Kaszewski 2018
                </div>
            </div>
        </div>
    </body>
</html>